{% extends 'Admin/layout.html.twig' %}

{% block content %}

    <h1>Ajout d'un nouveau lieu</h1>
    {% if errors %}
        <h4>Erreurs :</h4>
            <ul>
                {% for error in errors %}
                    <li class="errors">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
    {% include 'Admin/Asie/_form.html.twig' %}

{% endblock %}
