{% extends 'Admin/layout.html.twig' %}

{% block content %}
    <section class="admin-index">

<div>
        <p>Bienvenue dans l'interface de gestion de contenu de votre page web. Cette plateforme vous permet de modifier, ajouter ou supprimer des éléments de votre site web de manière simple et efficace.</p>
    </div>
        <div>
    <img class="admin-king" src="/assets/images/admin-king.png" alt="">
    </div>
    </section>
{% endblock %}
