{% extends 'Admin/layout.html.twig' %}

{% block content %}
	<section class="admin-index">
		<p>Bonjour
			Admin, ici vous pourrez modifier le contenu
			de votre site en vous déplaçant dans les différentes rubriques présentes dans la barre
			de navigation.</p>
	</section>
{% endblock %}
