<!doctype html>
<html lang="fr" data-theme="light">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/assets/images/favicon.png">

		<title>
			{% block title %}Admin{% endblock %}
		</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
		<link rel="stylesheet" href="/assets/css/Admin/admin.css">
		</head>
		<body>
			<nav class="navbar">
                <a href="/admin" class="logo"><img src="/assets/images/osezvoyager.png" alt="logo"></a>
                <div class ="nav-links">
					<ul>
						<li><a href="/admin/cartes">Cartes des périls</a></li>
						<li><a href="/admin/testimonial">Témoignages</a></li>
					</ul>
                </div>
				</nav>
			</aside>
			<main class="container">
            {% block content %}{% endblock %}
				</main>
				{% block javascript %}{% endblock %}
            <footer>
                <div class="info">
                    <span><a href="/" target="_blank">Voir mon site</a></span>
                    <span><a href="/logout">Déconnexion</a></span>
                </div>
            </footer>
		</body>
		</html>
