{% extends 'layout.html.twig' %}

{% block content %}
<div class="header-home">
	{% include 'Include/_navbar.html.twig' %}
	<p>PLONGEZ DANS L'INCONNU ! <br> DES VACANCES QUI VOUS LAISSERONT DES TRACES</p>
    </div>

	<section class="presentation"></section>
	<h1 class="home-title">Bienvenue sur Osez Voyager !</h1>
	<div class="line-advice"></div>
	<p class="home-presentation">Osez Voyager n'est pas votre guide touristique habituel. Nous offrons une expérience de voyage unique pour ceux qui cherchent l'aventure au-delà des sentiers battus, dans des endroits que d'autres pourraient qualifier de "pires" destinations.
		<br><br>

		Ici, vous trouverez un aperçu des endroits les plus inhospitaliers, dangereux et simplement bizarres de notre planète. De la chaleur implacable de la Vallée de la Mort aux vestiges irradiés de Pripyat, chaque destination offre une expérience inoubliable.
		<br><br>

		Mais ne vous y trompez pas, ces voyages ne sont pas pour les âmes sensibles. Ils demandent courage, préparation et une bonne dose de sens de l'aventure. C'est pourquoi nous fournissons également des guides de survie détaillés, avec des informations sur les dangers potentiels et comment les éviter.
		<br><br>

		Alors, êtes-vous prêt à sortir de votre zone de confort ? À défier l'inconnu ? À voir le monde sous un angle totalement différent ? Si oui, alors Osez Voyager est le site qu'il vous faut.
		<br>

		Parcourez notre carte des périls, découvrez nos destinations et préparez-vous à une aventure que vous n'oublierez jamais.
		<br><br>

		<span>Osez Voyager !
		</span>
		Parce que les plus grandes aventures commencent là où la plupart des gens n'osent pas aller.</p>
</section>
<div class="button">
	<a href="#" class="bouton-haut"><img src="/assets/images/plane.png" alt=""></a>
</div>
{% endblock %}
