{% extends 'layout.html.twig' %}

{% block title %}404 Not found
{% endblock %}
{% block content %}
<div class="page_404">
    {% include 'Include/_navbar.html.twig' %}
<div>
    <p>Je crois que vous vous êtes perdu. <br>
    Il est preferable pour vous de retourner sur notre <a href="/">Accueil</a><span>et vite....</span> </p>
</div>


</div>
{% endblock %}
