@media (min-width: 1200px) {
    .container {
        max-width: 920px;
    }
}

section.ameriques-container {
    display: grid;
    gap: calc(var(--spacing) * 5);
    grid-template-columns: 1fr;
    margin: 1rem;
}

section.ameriques-container>article {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrer les éléments horizontalement */
    margin: .5rem 0;
    min-width: 0;
    height: 95vh;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    text-align: center;
    /* Centrer le texte dans l'article */
}

section.ameriques-container>article>h2 {
    background-color: rgba(128, 128, 128, 0.7);
    display: inline;
    padding: .2rem;
    margin-bottom: auto;
    /* Pousser le reste du contenu vers le bas */
    border-radius: 1rem;
}

section.ameriques-container>article>h2,
section.ameriques-container>article h3 {
    color: #fff;
    text-align: center;
}


.text-content p {
    color: #fff;
}

section.ameriques-container>article a {
    margin-top: auto;
}

section.ameriques-container>article>h2 {
    margin-bottom: auto;
}

.content-container {
    display: flex;
    position: relative;
}

.text-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    padding: var(--spacing);
    overflow-y: auto;
    max-height: 18rem;
    background-color: rgba(128, 128, 128, 0.7);
    border-radius: 1rem;
}

@media screen and (max-width: 767px) {
    section.ameriques-container {
        grid-template-columns: 1fr;
    }

    section.ameriques-container>article>h2 {
        padding: 0.1rem;

    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    section.ameriques-container {
        grid-template-columns: 1fr;
    }

    section.ameriques-container>article>h2 {
        padding: 0.1rem;
    }
}

@media screen and (min-width: 1024px) {
    section.ameriques-container {
        grid-template-columns: 1fr;
    }

    section.ameriques-container>article>h2 {
        padding: .1rem;
    }
}