.header-home{
    background-image: url("/assets/images/avion.png");
    min-height: 50vh;
    background-size: cover;
    background-position: center;
}

.header-home p {
    margin-top: 15rem;
    text-align: center;
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 3px black;
}

.home-title {
    text-align: center;
    margin-bottom: 0;
}

.line-advice {
    border-top: 5px solid black;
    width: 80%;
    margin: auto;
}

.home-presentation {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.home-presentation span {
    font-weight: bold;
}
