.home-title {
    text-align: center;
    margin-bottom: 0;
}

.line-advice {
    border-top: 5px solid black;
    width: 80%;
    margin: auto;
}

.home-presentation {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.home-presentation span {
    font-weight: bold;
}

.bouton-haut img {
    width: 3rem;
    cursor: pointer;
    padding-bottom: 1rem;
    position: relative;
    left: 2rem;
}
