.page_404{

    background-image: url('/assets/images/teletubbies.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;

}
.page_404 div p{
    margin-top: 35rem;

    color: black;
    font-size: 2rem;
    padding: 1rem 0;
}
.page_404 div{
text-align: center;
    background-color: rgba(255, 255, 255, 0.671);
}
.page_404 p a{
    text-decoration: underline;
    color:var(--primary);
}
.page_404 div p span{
    font-size: 0.7rem;
    padding-left: 2rem;
}

