.survivant-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.survivant-container article{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid red;
    border-radius: 200px;
    margin: 2rem;
    min-width: 20rem;
}
.survivant-container img{
    height: 10rem;
    margin-bottom: 2rem;
}

