.header{
    display: flex;
    flex-direction: column;
}
.survivant-title{
    text-align: center;
}
.img-survivant{
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: top;
    z-index: -1;
}
.survivant-container{
    display: flex;
    flex-direction: column;
}
.survivant-container article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 3px solid grey;
    border-radius: 100px;
    margin: 2rem;
    min-width: 20rem;
}
.survivant-container img{
    height: 20rem;
    width: 18rem;
    border-radius: 100px;
    margin-bottom: 2rem;
}
.survivant-container p {
    max-width: 60ch;
}

