[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #E0E2DB;
    --primary-inverse: #000000;
    --color: var(--primary-inverse);
}

:root {
    --font-family: "roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-family-secondary: "nunito", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --spacing: 0.5rem;
    --font-size: 100%;
}
