[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #1D334A;
    --primary-inverse: #BABA9C;
    --card-clear-color: #D9D9D9;
    --card-dark-color: #0E1C26;
    --card-dark-title-color: #C9C081;
    --color: black;
    --background-color: #Efefef;
}

:root {
    --font-family: "roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-family-secondary: "nunito", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --spacing: 0.5rem;
    --font-size: 100%;
}