.header-amerique {
    background-image: url("/assets/images/regard_vide.jpg");
    min-height: 50vh;
    background-size: cover;
}

.title-amerique {
    text-align: center;
    margin-top: 1rem;
}

.ameriques-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media only screen and (max-width: 960px) {}

@media only screen and (max-width: 600px) {
    .ameriques {
        flex-direction: column-reverse;
    }

}