.title-amerique {
    text-align: center;
    margin-top: 1rem;
}

.img-amerique {
    display: flex;
    justify-content: center;
}

.img-amerique img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: top;
}

h3>img {
    margin-left: -0.062rem;
    width: calc(var(--spacing) *5);
}

.ameriques-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media only screen and (max-width: 960px) {}

@media only screen and (max-width: 600px) {
    .ameriques {
        flex-direction: column-reverse;
    }

}