<footer class="footer">
	<div class="mentions-legales">
			<span>Nos mentions légales</span>
            <script>
			document.write(new Date().getFullYear());
		</script>
		</div>
        <div class="reseaux-sociaux">
		<div class="facebook">
			<a href="#"><img src="/assets/images/logo-facebook.png" alt="logo_facebook"></a>
		</div>
        <div class="twitter">
        <a href="#"><img src="/assets/images/logo-twitter.png" alt="logo_twitter"></a>
        </div>
        </div>

	</footer>




</footer>
