<header>
	<nav>
		<ul>
			<li>
				<details role="list" dir="rtl">
					<summary aria-haspopup="listbox" role="link">
						Destinations
					</summary>
					<ul>
						<li>
							<a href="/amerique">Amérique</a>
						</li>
						<li>
							<a href="/asie">Asie</a>
						</li>
						<li>
							<a href="/europe">Europe</a>
						</li>
					</details>
				</ul>
			</li>

			<li>
				<a href="/"><img src="/assets/images/osezvoyager.png" alt="logo Osez Voyager"></a>
			</li>
			<li class="nav_temoignage">
				<a href="/survivants">Survivants</a>
			</li>
		</ul>

	</nav>
	<div class="line-navbar"></div>
</header>
